#Github.com-Vasusen-code

git+https://github.com/vasusen-code/Telethon.git@v1.24.0
https://github.com/vasusen-code/ethon/archive/refs/tags/v0.1.5.zip
#cryptg
tgcrypto
pyrogram
python-decouple
Flask==2.2.5
gunicorn==21.2.0
aiohttp==3.8.5
